<div class="container fade-in-out" data-ng-show="routingInfo">
    <h1>Routing Info (SRI)</h1>
    <div class="alert alert-dismissable" data-ng-class="{200: 'alert-success', 404: 'alert-warning', 501: 'alert-error'}[httpStatusCode]">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{httpStatusCode}}</strong> {{httpStatusMessage}}
    </div>
    <ul class="routing-info">
        <li class="li-msisdn">
        <span>Input</span>
        <dl>
            <dt>MSISDN</dt>
            <dd class="well well-sm">{{routingInfo.msisdn}}</dd>
        </dl>
        </li>
        <li class="li-request">
        <span>Request</span>
        <dl>
            <dt>ID</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="A unique ID assigned to the request by the server.<br/>May be used to track request processing on the server.">{{routingInfo.request.id}}</dd>
            <dt>Received (Timestamp)</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="When the server received this request (Unix timestamp).">{{routingInfo.request['received-at']}}</dd>
            <dt>Status Code</dt>
            <dd class="well well-sm">{{routingInfo.status.code}}</dd>
            <dt>Message</dt>
            <dd class="well well-sm">{{routingInfo.status.message}}</dd>
        </dl>
        </li>
        <li class="li-imsi">
        <span>IMSI</span>
        <dl>
            <dt>IMSI</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/International_mobile_subscriber_identity' target='_blank'>International Mobile Subscriber Indentity</a>">{{routingInfo.imsi.imsi}}</dd>
            <dt>MCC</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Mobile_country_code' target='_blank'>Mobile Country Code</a>">{{routingInfo.imsi.mcc}}</dd>
            <dt>MNC</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Mobile_Network_Code' target='_blank'>Mobile Network Code</a>">{{routingInfo.imsi.mnc}}</dd>
            <dt>MSIN</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Mobile_Subscription_Identification_Number' target='_blank'>Mobile Subscription Identification Number</a>">{{routingInfo.imsi.msin}}</dd>
        </dl>
        </li>
        <li class="li-roaming-number" data-ng-show="routingInfo['roaming-number']">
        <span class="popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Mobile_Station_Roaming_Number' target='_blank'>Mobile Station Roaming Number</a></br>Only returned if call forwarding is disabled">Roaming Number</span>
        <dl>
            <dt>Address Nature</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Global_Title' target='_blank'>Type of Number/Nature of Address Indicator</a>">{{routingInfo['roaming-number']['address-nature']}}</dd>
            <dt>Numbering Plan</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Global_Title' target='_blank'>Numbering Plan Indicator</a>">{{routingInfo['roaming-number']['numbering-plan']}}</dd>
            <dt>Address</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Mobile_Station_Roaming_Number' target='_blank'>Mobile Station Roaming Number</a>">{{routingInfo['roaming-number']['address']}}</dd>
        </dl>
        </li>
        <li class="li-forwarded-to-number" data-ng-show="routingInfo['forwarded-to-number']">
        <span class="popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Call_forwarding' target='_blank'>Forwarded To Number</a></br>Only returned if call forwarding is enabled">Forwarded To Number</span>
        <dl>
            <dt>Address Nature</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Global_Title' target='_blank'>Type of Number/Nature of Address Indicator</a>">{{routingInfo['forwarded-to-number']['address-nature']}}</dd>
            <dt>Numbering Plan</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Global_Title' target='_blank'>Numbering Plan Indicator</a>">{{routingInfo['forwarded-to-number']['numbering-plan']}}</dd>
            <dt>Address</dt>
            <dd class="well well-sm popover-enabled" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-trigger="click" data-content="<a href='http://en.wikipedia.org/wiki/Call_forwarding' target='_blank'>Forwarded To Number</a>">{{routingInfo['forwarded-to-number']['address']}}</dd>
        </dl>
        </li>
    </ul>
    <p>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#response-modal">Response</button>
    <a class="btn btn-success btn-lg" role="button" href="#/smroutinginfos/{{routingInfo.msisdn}}?timeout-millis={{invokeTimeoutMillis}}" data-ng-show="routingInfo.msisdn">GET SRISM &raquo;</a>
    <!-- Modal -->
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="response-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="response-modal-label">Response (JSON)</h4>
                </div>
                <div class="modal-body">
                    <pre>{{ routingInfo | json }}</pre> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </p>
</div>
